<launch>
	<arg name="bt_addr_1" default="e0:14:60:5c:3d:c7"/>
	<arg name="bt_addr_2" default="e0:14:7d:11:3d:c7"/>
	<arg name="bt_addr_3" default="e0:14:4f:ea:3d:C7"/>
	<arg name="bt_addr_4" default="e0:14:8d:47:3d:c7"/>
	<arg name="bt_addr_5" default="e0:14:a0:ae:3d:C7"/>
	<arg name="bt_addr_6" default="e0:14:b3:02:3d:ca"/>
	<arg name="ns_1" default="mambo_1"/>
	<arg name="ns_2" default="mambo_2"/>
	<arg name="ns_3" default="mambo_3"/>
	<arg name="ns_4" default="mambo_4"/>
	<arg name="ns_5" default="mambo_5"/>
	<arg name="ns_6" default="mambo_6"/>

	<!--group ns="$(arg ns_1)"-->
		<node pkg="ros_pyparrot" type="mambo.py" name="mambo_1">
			<param name="bt" value="$(arg bt_addr_1)"/>
		</node>
	<!--/group-->
	<!--group ns="$(arg ns_1)"-->
		<node pkg="ros_pyparrot" type="mambo.py" name="mambo_2">
			<param name="bt" value="$(arg bt_addr_2)"/>
		</node>
	<!--/group-->
	<!--group ns="$(arg ns_1)"-->
		<node pkg="ros_pyparrot" type="mambo.py" name="mambo_3">
			<param name="bt" value="$(arg bt_addr_3)"/>
		</node>
	<!--/group-->
	<!--group ns="$(arg ns_1)"-->
		<node pkg="ros_pyparrot" type="mambo.py" name="mambo_4">
			<param name="bt" value="$(arg bt_addr_4)"/>
		</node>
	<!--/group-->
	<!--group ns="$(arg ns_1)"-->
		<node pkg="ros_pyparrot" type="mambo.py" name="mambo_5" output="screen">
			<param name="bt" value="$(arg bt_addr_5)"/>
		</node>
	<!--/group-->
	<!--group ns="$(arg ns_1)"-->
		<node pkg="ros_pyparrot" type="mambo.py" name="mambo_6">
			<param name="bt" value="$(arg bt_addr_6)"/>
		</node>
	<!--/group-->
</launch>
